
            <div class="outer" style="font-size: 11px;">
  
              <table class="table table-hover bg-light"  >
                <thead>
                    
                  <tr >
                    <th scope="col">Material_Number</th>
                    <th scope="col">Region</th>
                    <th scope="col">Delivering_Plant</th>
                    <th scope="col">Ship-To_Region</th>
                    <th scope="col">Sold-To_Customerr_Namer</th>
                    <th scope="col">Lead_Time</th>
                    <th scope="col">Standard_price_USD</th>
                    <th scope="col">Service_Level</th>
                    <th scope="col">Forecast_Bucket</th>
                    <th scope="col">Forecast_Period</th>

                    <!-- condition -->

                    <th scope="col">2021-10</th>
                    <th scope="col">2021-10</th>
                    <th scope="col">2021-10</th>
                    <th scope="col">2021-10</th>
                    <th scope="col">2021-10</th>
                    <th scope="col">2021-10</th>
                    
                    <th scope="col">Month_0</th>
                    <th scope="col">Month_1</th>
                    <th scope="col">Month_2</th>
                    <th scope="col">Month_3</th>
                    <th scope="col">Month_4</th>
                    <th scope="col">Month_5</th>
                    <th scope="col">Month_6</th>

                  </tr>
                </thead>
                <tbody>
  
                  
                    <tr>
                        <td scope="col">181-205-10</td>
                        <td scope="col">Europe</td>
                        <td scope="col">Consolidate</td>
                        <td scope="col">consolidate</td>
                        <td scope="col">900</td>
                        <td scope="col">133</td>
                        <td scope="col">88</td>
                        <td scope="col">12</td>
                        <td scope="col">6</td>
                        <td scope="col">0</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">24</td>
                      
                    </tr>
  
                    <tr>
                        <td scope="col">181-205-10</td>
                        <td scope="col">Europe</td>
                        <td scope="col">Consolidate</td>
                        <td scope="col">consolidate</td>
                        <td scope="col">900</td>
                        <td scope="col">133</td>
                        <td scope="col">88</td>
                        <td scope="col">12</td>
                        <td scope="col">6</td>
                        <td scope="col">0</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">24</td>
                      
                    </tr>
                    <tr>
                        <td scope="col">181-205-10</td>
                        <td scope="col">Europe</td>
                        <td scope="col">Consolidate</td>
                        <td scope="col">consolidate</td>
                        <td scope="col">900</td>
                        <td scope="col">133</td>
                        <td scope="col">88</td>
                        <td scope="col">12</td>
                        <td scope="col">6</td>
                        <td scope="col">0</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">24</td>
                      
                    </tr>
                    <tr>
                        <td scope="col">181-205-10</td>
                        <td scope="col">Europe</td>
                        <td scope="col">Consolidate</td>
                        <td scope="col">consolidate</td>
                        <td scope="col">900</td>
                        <td scope="col">133</td>
                        <td scope="col">88</td>
                        <td scope="col">12</td>
                        <td scope="col">6</td>
                        <td scope="col">0</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">24</td>
                      
                    </tr>
                    <tr>
                        <td scope="col">181-205-10</td>
                        <td scope="col">Europe</td>
                        <td scope="col">Consolidate</td>
                        <td scope="col">consolidate</td>
                        <td scope="col">900</td>
                        <td scope="col">133</td>
                        <td scope="col">88</td>
                        <td scope="col">12</td>
                        <td scope="col">6</td>
                        <td scope="col">0</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">24</td>
                      
                    </tr>
                    <tr>
                        <td scope="col">181-205-10</td>
                        <td scope="col">Europe</td>
                        <td scope="col">Consolidate</td>
                        <td scope="col">consolidate</td>
                        <td scope="col">900</td>
                        <td scope="col">133</td>
                        <td scope="col">88</td>
                        <td scope="col">12</td>
                        <td scope="col">6</td>
                        <td scope="col">0</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">24</td>
                      
                    </tr>
                    <tr>
                        <td scope="col">181-205-10</td>
                        <td scope="col">Europe</td>
                        <td scope="col">Consolidate</td>
                        <td scope="col">consolidate</td>
                        <td scope="col">900</td>
                        <td scope="col">133</td>
                        <td scope="col">88</td>
                        <td scope="col">12</td>
                        <td scope="col">6</td>
                        <td scope="col">0</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">24</td>
                      
                    </tr>
                    <tr>
                        <td scope="col">181-205-10</td>
                        <td scope="col">Europe</td>
                        <td scope="col">Consolidate</td>
                        <td scope="col">consolidate</td>
                        <td scope="col">900</td>
                        <td scope="col">133</td>
                        <td scope="col">88</td>
                        <td scope="col">12</td>
                        <td scope="col">6</td>
                        <td scope="col">0</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">24</td>
                      
                    </tr>
                    <tr>
                        <td scope="col">181-205-10</td>
                        <td scope="col">Europe</td>
                        <td scope="col">Consolidate</td>
                        <td scope="col">consolidate</td>
                        <td scope="col">900</td>
                        <td scope="col">133</td>
                        <td scope="col">88</td>
                        <td scope="col">12</td>
                        <td scope="col">6</td>
                        <td scope="col">0</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">6</td>
                        <td scope="col">4</td>
                        <td scope="col">5</td>
                        <td scope="col">9</td>
                        <td scope="col">12</td>
                        <td scope="col">24</td>
                        <td scope="col">24</td>
                      
                    </tr>
  
                                </tbody>
              </table>
         
